/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

:root {
  --app-background-dark: rgb(24, 23, 32);
  --error-color: #ff5252;
  --grey-font-color: #97a7b0;
}

body {
  background-color: var(--app-background-dark);
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  height: 100%;
}

main {
  height: 100svh;
}

h1, p, span, i, input{
  color: #fff;
} 

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.alarm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 8rem;
  line-height: 1;
}

.alarm-wrapper {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  i, span {
    color: var(--grey-font-color);
  }
  
}

.input-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.set-alarm-wrapper input {
  border-radius: 25px;
  text-align: center;
  padding: 1rem 2.5rem;
}

.input {
  width: 8rem;
  background-color: rgb(255 255 255 / 0.15);
  border: 1px solid rgb(255 255 255 / 0.2);
  transition: all 0.15s ease-in-out;
}

.input:focus {
  border: 1px solid rgb(255 255 255 / 0.5);
}

.set-alarm-button {
  background-color: #009d5e;
  font-weight: 600;
  border: 1px solid #009d5e;
  transition: all 0.15s ease-in-out;
}

.set-alarm-button:hover {
  border: 1px solid rgb(255 255 255 / 0.5);
  background-color: #00a367;
}

.error-message {
  color: var(--error-color);
  text-align: center;
  font-size: 1.2rem;
}